<div :if={@live_action == :index} class="w-full">
  <.title title="Analyze" description="Get your detailed analize for a stocks, ETF, etc." />

  <div class="w-full mt-5">
    <.form for={@form} class="w-full" id="form" phx-submit="search">
      <input
        type="hidden"
        value={Plug.CSRFProtection.get_csrf_token_for("/analyze")}
        name="_csrf_token"
      />
      <fieldset class="fieldset">
        <legend class="fieldset-legend">
          <.label text={gettext("Company Name")} required id="select-ticker" />
          <.infotip value={gettext("A company you want to buy")} />
        </legend>
        <select
          phx-hook="ChoicesHook"
          id="select-ticker"
          name="ticker"
          required
          data-url="/transactions/find-ticker"
          data-no-result="Cannot find given name"
          data-no-choice={gettext("Cannot find company with given specification")}
          data-not-found="Company with those specification is not exists"
          data-placeholder="Search a company"
        ></select>
      </fieldset>
      <.button variant="primary">
        {gettext("Analyze")}
      </.button>
    </.form>
  </div>
</div>

<div :if={@live_action == :show} class="w-full">
  <div>
    <h1 class="text-lg font-bold">{gettext("Analysis for %{name}", name: @asset.name)}</h1>
  </div>
  <div class="w-full flex flex-col">
    <%!-- <.live_component --%>
    <%!--   module={MunchkinWeb.Analysis.General} --%>
    <%!--   ticker={@ticker} --%>
    <%!--   session={@current_user_session} --%>
    <%!--   id="general" --%>
    <%!-- /> --%>
    <div class="w-full">
      <.live_component
        module={MunchkinWeb.AnalysisTemplate}
        ticker={@ticker}
        session={@current_user_session}
        id="analysis"
      />
    </div>
  </div>
</div>

<div :if={@live_action == :error} class="w-full">
  <.alert
    message={gettext("Ticker not found")}
    style="soft"
    variant="error"
    description={
      gettext("Cannot get the related ticker. Please try another ticker in search bar below!")
    }
  />

  <div class="w-full mt-5">
    <.form for={@form} class="w-full" id="form" phx-submit="search">
      <input
        type="hidden"
        value={Plug.CSRFProtection.get_csrf_token_for("/analyze")}
        name="_csrf_token"
      />
      <fieldset class="fieldset">
        <legend class="fieldset-legend">
          <.label text={gettext("Company Name")} required id="select-ticker" />
          <.infotip value={gettext("A company you want to buy")} />
        </legend>
        <select
          phx-hook="ChoicesHook"
          id="select-ticker"
          name="ticker"
          required
          data-url="/transactions/find-ticker"
          data-no-result="Cannot find given name"
          data-no-choice={gettext("Cannot find company with given specification")}
          data-not-found="Company with those specification is not exists"
          data-placeholder="Search a company"
        ></select>
      </fieldset>
      <.button variant="primary">
        {gettext("Analyze")}
      </.button>
    </.form>
  </div>
</div>
