<Layouts.flash_group flash={@flash} />

<div class="w-full flex flex-col">
  <div class="my-2 w-full relative">
    <div class="block h-28 bg-base-300">
      <tv-ticker-tape
        symbols={@ticker_symbols}
        hide-chart
        line-chart-type="Line"
      >
      </tv-ticker-tape>
    </div>
    <div class="h-6 bg-base-300 absolute left-0 right-0 w-full z-10 bottom-0"></div>
  </div>

  <div class="w-full">
    <.stats>
      <:item
        title="Total portfolio"
        value="0M"
        description="No portfolio"
        background="bg-primary"
        action={JS.patch("/portfolio")}
      />

      <:item
        title="Total transactions"
        value="2394k"
        description="Up agains last month"
        background="bg-info"
        link="/transactions"
      />

      <:item
        title="Reports"
        value="Get your reports"
        description=""
        background="bg-success"
        link="/reports"
      />
    </.stats>
  </div>
</div>
